<h2>Login PBKK</h2>

<a href="/login">Login</a>

<h2>Users</h2>
<p>
<% for (var i = 0; i < usrlen; i++) {%>
	<%= user[i].username %><br>
<% } %>
</p>
<br>
<h2>Logs</h2>
<p>
<% for (var i = 0; i < loglen; i++) {%>
	Username: <%= log[i].username %><br>
	Login attempt: <%= log[i].login %><br>
	Time: <%= log[i].time %><br><br>
<% } %>
</p>